{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>{% block title %}Take It Easy Magazine{% endblock title %}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="header">
            {% include "mag/header.html" %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <div class="footer">
            {% include "mag/footer.html" %}
        </div>
    </body>
</html>